<div class="container my-2">
<div class="photo">
  <div class="row">
  <% @photos.each do |photo| %>
<div class="col-md-4 col-12">
    <%= link_to photo, class: "photo" do %>
      <%= image_tag photo.user_photo.variant(resize_to_limit: [200, 200]) if photo.user_photo.attached?  %>
    <% end %>



    <div class="level-item views data">
      <%= link_to photo do %>
      <span class="icon"><i class="fa fa-eye"></i></span>
      <%=  photo.impressionist_count %>
      <% end %>
    </div>
    <div class="level-item comments data">
      <%= link_to photo do %>
      <span class="icon"><i class="fa fa-comment"></i></span>
      <%= photo.comments.count %>
      <% end %>
    </div>

    <%#= pluralize(photo.comments.count, 'Comment') %> 
    <%#= pluralize(photo.impressionist_count, 'View') %>  
    <%#= pluralize(photo.get_likes.size, 'Like') %>

<div class="photo-data">
   <p> <%= photo.title %> </p>
    <p> <%= truncate(photo.description, length: 60) %> </p>
    <p> <%= time_ago_in_words(photo.created_at) %> </p>
</div>


<% if user_signed_in? %>

  <% if current_user.liked? photo %>
    <%= link_to unlike_photo_path(photo), method: :put, class: "unlike_photo" do %>
      <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
      <span class="vote_count"><%= photo.get_likes.size %></span>
    <% end %>
  <% else %>
    <%= link_to like_photo_path(photo), method: :put, class: "like_photo" do %>
      <span class="icon"><i class="fa fa-heart"></i></span>
      <span class="vote_count"><%= photo.get_likes.size %></span>
    <% end %>
  <% end %>

<% else %>
  <%= link_to like_photo_path(photo), method: :put, class: "like_photo" do %>
    <span class="icon"><i class="fa fa-heart"></i></span>
    <span class="vote_count"><%= photo.get_likes.size %></span>
  <% end %>
<% end %>

</div>
    <% end %>
    <div>
  </div>
</div>


