<section class="section">
  <div class="photos text-center">
    <% @photos.each do |photo| %>
      <div class="photo-grid-item">
        <div class="photo-wrapper">
          
        <%= link_to photo, class: "photo" do %>
          <%= image_tag photo.user_photo.variant(resize_to_limit: [200, 200]) if photo.user_photo.attached?  %>
          <div class="photo-data">
            <h3 class="photo-title"><%= photo.title %></h3>
            <div class="photo-description"><%= truncate(photo.description, length: 60) %></div>
            <div class="photo-time">
              <%= time_ago_in_words(photo.created_at) %>
            </div>
          </div>
        <% end %>

        <nav class="level photo-analytics">
          <div class="row">
            <div class="level-item views data col-4">
              <%= link_to photo do %>
                <span class="icon"><i class="fa fa-eye"></i></span>
                <%=  photo.impressionist_count %>
              <% end %>
            </div>
            <div class="level-item comments data col-4">
              <%= link_to photo do %>
                <span class="icon"><i class="fa fa-comment"></i></span>
                  <%= photo.comments.count %>
              <% end %>
            </div>
            
            <div class="level-item likes col-4">
             
                <% if user_signed_in? %>

                  <% if current_user.liked? photo %>
                    <%= link_to unlike_photo_path(photo), method: :put, class: "unlike_photo" do %>
                      <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                      <span class="vote_count"><%= photo.get_likes.size %></span>
                    <% end %>
                  <% else %>
                    <%= link_to like_photo_path(photo), method: :put, class: "like_photo" do %>
                      <span class="icon"><i class="fa fa-heart"></i></span>
                      <span class="vote_count"><%= photo.get_likes.size %></span>
                    <% end %>
                  <% end %>

                <% else %>
                    <%= link_to like_photo_path(photo), method: :put, class: "like_photo" do %>
                      <span class="icon"><i class="fa fa-heart"></i></span>
                      <span class="vote_count"><%= photo.get_likes.size %></span>
                    <% end %>
                <% end %>


            </div>
          </div>
        </nav>


        </div>

      </div>
    <% end %>
  </div>
</section>